<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="testcases.Testcase001"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test2">
    <classes>
      <class name="testcases.TestCase002"/>
    </classes>
  </test> <!-- Test -->  
   <test thread-count="5" name="Test3">
    <classes>
      <class name="testcases.TestCase003"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test4">
    <classes>
      <class name="testcases.TestCase004"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test5">
    <classes>
      <class name="testcases.TestCase005"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test6">
    <classes>
      <class name="testcases.TestCase006"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test7">
    <classes>
      <class name="testcases.TestCase007"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test8">
    <classes>
      <class name="testcases.TestCase008"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  
  
  
</suite> <!-- Suite -->

